body {
  text-align: center;
  color: #854777;
  margin: 1%;
  font-size: 1rem;
  border-radius: 10%;
  font-family: 'Encode Sans Expanded', sans-serif;
}

h3 {
  font-family: 'Sigmar One', cursive;
}

.invisible {
  display: none;
}

.btn {
  margin: 1rem;
  border: none;
}

.btn-navi {
  background-color: #ffc6be;
}

.btn-start {
  background-color: #a773c3;
  margin: 1rem;
}

.assignment {
  /* color: black; */
}

#result {
  border-radius: 10%;
  text-align: center;
}

.button-circle {
  background-color: #ffa1c5;
  border: none;
  font-size: 1.9rem;
  font-family: 'Sigmar One', cursive;
  height: 3.5rem;
  width: 3.5rem;
  margin: 0.5rem;
  border-radius: 50%;
}

#del {
  font-size: 1.5rem;
}

.multiplication {
  font-family: 'Sigmar One', cursive;
  font-size: 2rem;
}

#x-sign {
  font-size: 2rem;
}

#score-total {
  font-size: 3rem;
}

td {
  padding: 0 1rem 1rem;
  text-align: left;
}

#level {
  font-size: 2rem;
  font-family: 'Sigmar One', cursive;
  color: #a773c3;
}

ul {
  padding-left: 0;
}

#help-section {
  text-align:left;
}

.help-div {
  padding: 2rem;
}
